
.mem__cards {
  padding: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 2.5rem;
}

.mem__card--1 .mem__card__img, .mem__card--1 .mem__card__img--hover {
  background-image: url(../image/members/NguyenNhatTien.JPG);
}

.mem__card--2 .mem__card__img, .mem__card--2 .mem__card__img--hover {
  background-image: url(../image/members/da.jpg);
}
.mem__card--3 .mem__card__img, .mem__card--3 .mem__card__img--hover {
  background-image: url(../image/members/z5288368522924_698f1d9561d32c434639aac9890b91cc.jpg);
}
.mem__card--4 .mem__card__img, .mem__card--4 .mem__card__img--hover {
  background-image: url(../image/members/z5300365906650_82e6a5a83be2fb34e9e8ea7e80caa6e2.jpg);
}
.mem__card--5 .mem__card__img, .mem__card--5 .mem__card__img--hover {
  background-image: url(../image/members/z5323002866176_ca76808113a4e4d62310ab2b48b97a49.jpg)
}
.mem__card--6 .mem__card__img, .mem__card--6 .mem__card__img--hover {
  background-image: url(../image/members/mt.jpg)
}

.mem__card__like {
  width: 18px;
}

.mem__card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
.mem__card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.mem__card__clock-info {
  float: right;
}

.mem__card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.mem__card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.mem__card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.mem__card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.mem__card__info {
  z-index: 3;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.mem__card__category {

  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.mem__card__title {
  margin-top: 5px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.mem__card__by {
  font-size: 12px;
  font-weight: 500;
}

.mem__card__author { 
  font-size: 1.2rem;
  text-decoration: none;
  color: #AD7D52;
}

.mem__card:hover .mem__card__img--hover {
  height: 100%;
  opacity: 1;
}

.mem__card:hover .mem__card__info {
  background-color: rgba(255, 255, 255, 0.712);
  position: relative;
}

.mem__card:hover .mem__card__info-hover {
  opacity: 1;
}

.mem__heading {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(var(--colo-primary), var(--colo-primary));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  color: var(--colo-white-1);
  line-height: 1.8;
  width: 100%;
  text-align: center;
}
.mem__header {
  position: relative;
  height: 100px;
}
.mem__heading:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}


@media only screen and (max-width: 1070px) {
  .mem__cards{
    grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 800px) {
  .mem__cards{
  grid-template-columns: repeat(1, 1fr);
  }
}


.mem_gr{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mem_gr_img{
  width: 50%;
  object-fit: cover;
}
.mem_gr_header{
  font-size: 6rem;
  font-weight: 600;
}
.mem_gr_wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}




/* LIST */



.list {
  position: relative;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.list ul {
  position: relative;
  width: 50%;
}
.list ul li {
  position: relative;
  left: 0;
  color: var(--colo-dark-2);
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid var(--colo-primary);
  transition: 1s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: var(--colo-white-1);
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--colo-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}


/* timeline */

.timeline ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline ul li .title,
.timeline ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.timeline ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
/* .timeline ul li .title::before,
.timeline ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%); */

.timeline ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 80rem) {
  .timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}






/* album */


.mem_album {
	font-family: Lato, sans-serif;
	margin: 0;
	padding: 1rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mem_album img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.mem_album ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

.mem_album figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.mem_album figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

.mem_album figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.mem_album a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.mem_album a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	.mem_album figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	.mem_album figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	.mem_album a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	.mem_album a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	.mem_album a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}