
.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
.mem__cards {
  padding: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 2.5rem;
}

.mem__card--1 .mem__card__img, .mem__card--1 .mem__card__img--hover {
  background-image: url(../image/members/NguyenNhatTien.JPG);
}

.mem__card--2 .mem__card__img, .mem__card--2 .mem__card__img--hover {
  background-image: url(../image/members/da.jpg);
}
.mem__card--3 .mem__card__img, .mem__card--3 .mem__card__img--hover {
  background-image: url(../image/members/z5288368522924_698f1d9561d32c434639aac9890b91cc.jpg);
}
.mem__card--4 .mem__card__img, .mem__card--4 .mem__card__img--hover {
  background-image: url(../image/members/z5300365906650_82e6a5a83be2fb34e9e8ea7e80caa6e2.jpg);
}
.mem__card--5 .mem__card__img, .mem__card--5 .mem__card__img--hover {
  background-image: url(../image/members/z5323002866176_ca76808113a4e4d62310ab2b48b97a49.jpg)
}
.mem__card--6 .mem__card__img, .mem__card--6 .mem__card__img--hover {
  background-image: url(../image/members/z5300708262875_653f4ba36fee560b5b20c422f07d51dc.jpg)
}

.mem__card__like {
  width: 18px;
}

.mem__card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
.mem__card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.mem__card__clock-info {
  float: right;
}

.mem__card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.mem__card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.mem__card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.mem__card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.mem__card__info {
  z-index: 3;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.mem__card__category {

  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.mem__card__title {
  margin-top: 5px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.mem__card__by {
  font-size: 12px;
  font-weight: 500;
}

.mem__card__author { 
  font-size: 1.2rem;
  text-decoration: none;
  color: #AD7D52;
}

.mem__card:hover .mem__card__img--hover {
  height: 100%;
  opacity: 1;
}

.mem__card:hover .mem__card__info {
  background-color: rgba(255, 255, 255, 0.712);
  position: relative;
}

.mem__card:hover .mem__card__info-hover {
  opacity: 1;
}

.mem__heading {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(var(--colo-primary), var(--colo-primary));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  color: var(--colo-white-1);
  line-height: 1.8;
  width: 100%;
  text-align: center;
}
.mem__header {
  position: relative;
  height: 100px;
}
.mem__heading:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}


@media only screen and (max-width: 1070px) {
  .mem__cards{
    grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 400px) {
  .mem__cards{
  grid-template-columns: repeat(1, 1fr);
  }
}