.pro_right{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.pro_left{
    width: 170px;
    
}
.pro_container  {
    display: flex;
    gap: 3rem;
    
}

#accordion>.cap  { 
    background: lightseagreen; padding: 8px 10px;
    font-weight: bold; text-transform: uppercase; 
    cursor: pointer; color: white;font-size: 18px;
}
#accordion > .ct > label {
    margin: 8px 0 8px 30px;
    font-size: 18px; 
    display: block; 
    cursor: pointer;
}
#accordion > .ct input { width: 16px; height: 16px; margin-right: 10px;}


/*           <div class="cap">Giá bán</div>
          <div class="ct"> 
              <label><input type="checkbox" class="giaban" value="1">Dưới 5 triệu</label>
              <label><input type="checkbox" class="giaban" value="2">Từ 5 đến 10 triệu</label>
              <label><input type="checkbox" class="giaban" value="3">Từ 10 đến 15 triệu</label>
              <label><input type="checkbox" class="giaban" value="4">Trên 15 triệu</label>
          </div>
          <div class="cap">Màn hình</div>
          <div class="ct"> 
              <label><input type="checkbox" class="manhinh" value="1">Dưới 5 inch</label>
              <label><input type="checkbox" class="manhinh" value="2">Từ 5 inch trở lên</label>
          </div> */