@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");


:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #00348B;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* 1 rem 10px */
}
body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button,
textarea,
select {
  outline: none;
  font: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: rgb(239, 140, 1);
}



/* icon */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--colo-dark-1);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
/* phần màu đen trên cùng */
/* top_nav */


.top_nav {
  width: 100%;
  height: 4rem;
  background-color: var(--colo-primary);
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: var(--colo-white-1);
}
.tap_nav_p {
  font-size: 1.4rem;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colo-white-1);
}
/* navbaar */
.nav {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--colo-dark-2);
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--colo-dark-1);
}
.nav_item {
  margin: 0rem 0.5rem;
}
.nav_link {
  padding: 0.6rem;
  color: var(--colo-dark-1);
}
.nav_form {
  padding: 0.8rem;
  background-color: var(--colo-white-2);
  display: flex;
  align-items: center;
}
.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}
.nav_search {
  cursor: pointer;
  color: var(--colo-dark-1);
}
.nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_heart {
  margin-left: 1rem;
  cursor: pointer;
}
.nav_cart {
  margin-left: 1rem;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(2PX);
  color: var(--colo-dark-1);

}
.nav_acc{
  margin: 0 1rem;
}
/* header */
.header_container {
  width: 100%;
  display: flex;
  height: 324px;
  margin-top: 4rem;
}
.header_filter {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
}
.header_filter_link {
  color: var(--colo-dark-1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_filter_link:hover {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding-left: 1rem;
  transition: all 0.3s ease;

}
/* section */
.section {
  margin-top: 10rem;
}

/* flash sale */
.section_flash-sale {
  background-color: rgba(96, 141, 218, 0.144);
  padding-top: 1.6rem;
}
.section_category_p {
  border-left: 1.4rem solid var(--colo-primary);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--colo-primary);
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.section_title {
  margin-right: 2rem;
  font-size: 2.6rem;
}
#demo {
  font-size: 1.8rem;
  color: red;
}
/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper1 {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* cards */

.card {
  margin-bottom: 5rem;
  max-width: 27rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* background-color: palevioletred; */
  background-color: var(--colo-white-1);
  border-radius: .3rem;
}
.card:hover .card_img2{
  opacity: 1;
}
.card_top {
  width: 100%;
}

.card_image{
  width: 27rem;
  position: relative;
  height: 25rem;
}
.card_img1 {
  opacity: 1;
}
.card_img2 {  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--colo-primary);
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--colo-white-1);
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}

.card_top_icon {
  padding: 1rem;
  background-color: var(--colo-white-1);
  border-radius: 10rem;
  cursor: pointer;
}
.card_body {
  margin: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card_price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card_price_new {
  color: var(--colo-primary);
}
.card_price_old {
  color: var(--colo-dark-2);
  text-decoration: line-through;
  margin-bottom: 0.6rem;
}
.card_ratings {
  display: flex;
  align-items: center;
}
.card_stars {
  margin-right: .5rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}
.fill_star{
  color: #FFAD33;
}
.icon_love:hover{
  background-color: red;
  color: var(--colo-white-1);
}
.icon_top_icon_vis:hover{
  background-color: var(--colo-dark-2);
  color: var(--colo-white-1);
}


.card_btns{
  display: flex;
  align-items: end;
  justify-content: space-between;
  column-gap: 10px;
  margin-top: 1.2rem;
  height: 4.2rem;

}
.add_to_cart {
  padding: 1rem 2rem;
  /* background-color: var(--colo-white-1); */
  color: var(--colo-primary);
  cursor: pointer;
  /* border: .3rem solid var(--colo-primary); */
  outline: none;
  flex: 2;
  height: 100%;
  border-radius: .3rem;

}
.shop_now{
  padding: 1rem 2rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
  flex: 8;
  border-radius: .3rem;
}
/* card mới */

.cart_delete{
  cursor: pointer;
}
.success-message {
  position: fixed;
  top: 100px;
  transform: translateY(-50%);
  right: 20px; /* Adjust as needed */
  z-index: 1000;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
  padding: 10px;
  max-width: 300px; /* Adjust as needed */
}



/* categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}
.category {
  text-align: center;
  padding: 3rem;
  border: 1px solid var(--colo-white-2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.category:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.category_logo {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}

/* trending */
.trending {
  background-color: var(--colo-dark-1);
  padding: 8rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.trending_img {
  width: 100%;
}
.trending_p {
  color: var(--color-green);
}
.trending_title {
  color: var(--colo-white-1);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: var(--color-green);
  padding: 1rem 2rem;
  color: var(--colo-white-1);
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

/* gallery */
.gallery_item {
  width: 100%;
  position: relative;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 1.5rem;
}
.gallery_item {
  width: 100%;
}
.gallery_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item_content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 80%;
}
.gallery_item_title {
  color: var(--colo-white-1);
  font-size: 2.2rem;
}
.gallery_item_p {
  color: var(--colo-white-1);
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.gallery_item_link {
  color: var(--colo-white-1);
  text-decoration: underline;
}
.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.gallery_item_2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
.gallery_item_4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
}

/* services */
.services_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 3rem;
}
.service {
  text-align: center;
}
.service_title {
  margin: 1.5rem 0rem;
}
/* footer */
.footer {
  margin-top: 10rem;
  background-color: var(--colo-dark-1);
}
.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  padding: 5rem 0rem;
  color: var(--colo-white-1);
}
.footer_logo {
  font-size: 2.6rem;
  color: var(--colo-white-1);
  font-weight: 700;
}
.footer_p {
  margin-top: 1rem;
  font-weight: 200;
}
.footer_item_titl {
  margin-bottom: 1.2rem;
  font-size: 2rem;
}
.footer_list_item {
  margin: 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.footer_list_item a {
  color: var(--colo-white-1);
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: var(--colo-dark-2);
  padding: 1.5rem 0rem;
}
.footer_form_wrap{
  color: var(--colo-white-1);
  margin-top: 3rem;
  font-size: 1.2rem;
}

.footer_input{
  border: solid 0.2rem var(--colo-white-1);
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;

}

.footer_form_submit {
  background-color:var(--colo-white-1);
  color: var(--colo-dark-1);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

.footer_form_email{
  width: 100%;
}


.footer_down_img img{
  width: 15rem;
}

.footer_down_icon{
  margin: 1rem 0;

  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
    height: auto;
  }
  .swiper1{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

















/* Cart page */
.cart {
  width: 100%;
}
.cart_header {
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}

.cart_item {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}
.cart_product {
  display: flex;
  flex-direction: column;
}
.cart_img {
  width: 7%;
}
.cart_total {
  margin-top: 2rem;
  text-align: right;
}

/* Authentications */
.auth_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
}
.auth_img {
  width: 50%;
  height: 100%;
}
.auth_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth_content {
    padding: 10rem;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}

/* 

.form_title {
  font-size: 3.2rem;
}
.auth_p {
  margin: 2rem 0rem;
}
.form_group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colo-dark-2);
}
.form_pass {
  margin-bottom: 1rem;
}
.form_btn {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}
.form_link {
  color: var(--colo-white-1);
}
.form_group > span {
  margin-top: 2rem;
} */
.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}
/* breakcrum */

.roadmap{
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* BACK TOP */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--colo-primary); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.btncall{
  position: fixed; /* Fixed/sticky position */
  bottom: 70px; /* Place the button at the bottom of the page */
  right: 20px;
  z-index: 99; 
  cursor: pointer; /* Add a mouse pointer on hover */
}

.btncall img{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}


/* 404 */

.err_btn{
  background-color: var(--colo-primary);
  padding: 1.6rem 4.8rem;
  border-radius: 0.4rem;
}

.err_btn_link{
  color: var(--colo-white-1);
}

.err_content{
  text-align: center;
  display: flex;
}

.err_head {
  font-size: 8rem;
  font-weight: 500;
  color: var(--colo-dark-1);
}


.err_desc{
  font-size: 1.6rem;
  color: var(--colo-dark-1);
  
}

.err_btn{
  margin-top: 8rem;
}



